build/
.DS_Store
xcuserdata/
## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/.env*
!fastlane/.env.example

## Match
fastlane/certificates/
fastlane/profiles/
